body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar .search input {
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.navbar .search button {
    padding: 10px 20px;
    border: none;
    background-color: #ff7f0e;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.navbar .search button:hover {
    background-color: #ff7f0e;
}

.sections {
    padding: 20px;
}

.rentals {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.section {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section img {
    width: 100%; /* Make the image cover the entire box */
    height: 180px; /* Maintain aspect ratio */
    border-radius: 10px; /* Ensure rounded corners */
    transition: transform 0.3s ease;
}

.section h2 {
    margin-top: 10px;
    font-size: 24px;
}

.section p {
    margin: 10px 0;
}

button {
    background-color: #ff7f0e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff7f0e;
}

.newsletter {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
    margin-top: 20px;
}

.newsletter h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.newsletter input[type="email"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.newsletter button {
    padding: 10px 20px;
    border: none;
    background-color: #ff7f0e;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.newsletter button:hover {
    background-color: #ff7f0e;
}
